---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import BlogPosts from "../../../components/blog/BlogPosts.astro";
import BackToLink from "../../../components/ui/BackToLink.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog", ({ data }) => {
        return import.meta.env.PROD ? !data.draft : true;
    });

    const categories = [
        ...new Set(posts.flatMap((post) => post.data.categories)),
    ];

    return categories.map((category) => ({
        params: { category: category.toLowerCase() },
        props: {
            category,
            posts: posts.filter((post) =>
                post.data.categories
                    .map((c) => c.toLowerCase())
                    .includes(category.toLowerCase()),
            ),
        },
    }));
}

const { category, posts } = Astro.props;
---

<Layout
    title={`${category} - Blog - Rico Loschke`}
    description={`Alle Blogbeiträge in der Kategorie ${category}`}
>
    <div class="max-w-4xl mx-auto px-4 sm:px-6">
        <div class="mb-12">
            <BackToLink href="/blog" />
            <h1 class="text-4xl md:text-5xl font-bold mt-4">
                Kategorie: {category}
            </h1>
        </div>

        <BlogPosts posts={posts} />
    </div>
</Layout>
