---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import BlogPosts from "../../../components/blog/BlogPosts.astro";
import BackToLink from "../../../components/ui/BackToLink.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog", ({ data }) => {
        return import.meta.env.PROD ? !data.draft : true;
    });

    const tags = [...new Set(posts.flatMap((post) => post.data.tags))];

    return tags.map((tag) => ({
        params: { tag: tag.toLowerCase() },
        props: {
            tag,
            posts: posts.filter((post) =>
                post.data.tags
                    .map((t) => t.toLowerCase())
                    .includes(tag.toLowerCase()),
            ),
        },
    }));
}

const { tag, posts } = Astro.props;
---

<Layout
    title={`${tag} - Blog - Rico Loschke`}
    description={`Alle Blogbeiträge mit dem Tag ${tag}`}
>
    <div class="max-w-4xl mx-auto px-4 sm:px-6">
        <div class="mb-12">
            <BackToLink href="/blog" />
            <h1 class="text-4xl md:text-5xl font-bold mt-4">Tag: {tag}</h1>
        </div>

        <BlogPosts posts={posts} />
    </div>
</Layout>
